.parent {
  max-width: 636px;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.parent .avatar {
  position: relative;
}

.details {
  #name {
    text-transform: capitalize;
  }
  #email {
    color: #999595;
    margin: 0;
  }
}
.parent .avatar .cameraIcon {
  position: absolute;
  bottom: 41px;
  right: -13px;
  z-index: 999;
}

.avatar img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin-top: 14px;
}
.updatebtn {
  margin-bottom: 12px;
  text-align: center;
  min-height: 30px;
}

.holder {
  display: flex;
  justify-content: space-around;
  margin: 18px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
}

.holder .details {
  min-width: 255px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.wd30 {
  width: 30%;
}
.wd70 {
  width: 70%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery .item {
  width: 30%;
}
